<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <!--定义日志文件的存储地址 勿在 LogBack 的配置中使用相对路径-->
    <property name="LOG_PATH" value="../logs"/>
    <!--定义日志文档保留天数-->
    <property name="LOG_EXPIRE" value="180"/>
    <!--定义日志输出级别-->
    <property name="LOG_LEVEL" value="info"/>
    <!--sql打印debug日志-->
    <property name="MAPPER_PACKAGE" value="com.ykt.im.core.mapper"/>
    <!--日志名称-->
    <property name="LOG_NAME" value="wx-work-im"/>


    <!--输出日志格式-->
    <appender name="consoleLog" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50}.%M\(%line\) - %msg%n</pattern>
        </layout>
    </appender>

    <!--只保存debug日志-->
    <appender name="fileDebugLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>DEBUG</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50}.%M\(%line\) - %msg%n</pattern>
            <charset>UTF-8</charset> <!-- 设置字符集 -->
        </encoder>
        <!--滚动输出策略-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--路径-->
            <fileNamePattern>${LOG_PATH}/debug/${LOG_NAME}.debug.%d{yyyyMMddHH}.log</fileNamePattern>
            <!--日志文档保留天数-->
            <maxHistory>${LOG_EXPIRE}</maxHistory>
        </rollingPolicy>
    </appender>

    <!--只保存info日志-->
    <appender name="fileInfoLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50}.%M\(%line\) - %msg%n</pattern>
            <charset>UTF-8</charset> <!-- 设置字符集 -->
        </encoder>
        <!--滚动输出策略-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--路径-->
            <fileNamePattern>${LOG_PATH}/info/${LOG_NAME}.info.%d{yyyyMMddHH}.log</fileNamePattern>
            <!--日志文档保留天数-->
            <maxHistory>${LOG_EXPIRE}</maxHistory>
        </rollingPolicy>
    </appender>

    <!--只保存warn日志-->
    <appender name="fileWarnLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>WARN</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50}.%M\(%line\) - %msg%n</pattern>
            <charset>UTF-8</charset> <!-- 设置字符集 -->
        </encoder>
        <!--滚动输出策略-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--路径-->
            <fileNamePattern>${LOG_PATH}/warn/${LOG_NAME}.warn.%d{yyyyMMddHH}.log</fileNamePattern>
            <!--日志文档保留天数-->
            <maxHistory>${LOG_EXPIRE}</maxHistory>
        </rollingPolicy>
    </appender>

    <!--只保存error日志-->
    <appender name="fileErrorLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50}.%M\(%line\) - %msg%n</pattern>
            <charset>UTF-8</charset> <!-- 设置字符集 -->
        </encoder>
        <!--滚动输出策略-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--路径-->
            <fileNamePattern>${LOG_PATH}/error/${LOG_NAME}.error.%d{yyyyMMddHH}.log</fileNamePattern>
            <!--日志文档保留天数-->
            <maxHistory>${LOG_EXPIRE}</maxHistory>
        </rollingPolicy>
    </appender>

    <!--dao层包下的类的日志输出-->
    <logger name="${MAPPER_PACKAGE}" additivity="false" level="debug">
        <!--打印控制台-->
        <appender-ref ref="consoleLog"/>
        <appender-ref ref="fileDebugLog"/>
    </logger>

    <root level="${LOG_LEVEL}">
        <appender-ref ref="consoleLog"/>
        <appender-ref ref="fileDebugLog"/>
        <appender-ref ref="fileInfoLog"/>
        <appender-ref ref="fileWarnLog"/>
        <appender-ref ref="fileErrorLog"/>
    </root>

</configuration>